<div class="container-fluid">
    <h3>Dispensed Items</h3>
      <table class="table">
        <thead>
          <tr>
            <th >Category</th>
            <th >Description</th>
            <th >Qty</th>
            <th >Unit</th>
            <th >Source</th>
            <th >Deduction Date</th>
            <th >User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.source}}</td>
            <td>{{item.timestamp}}</td>
            <td>{{item.user}}</td>
          </tr>
        </tbody>
      </table>
    </div>